body, html{
    height: 100%;
}

/* Edit Bootstrap elements Start */
.navbar-default {
    transition: all .5s;
    background-color: transparent;
    border: none;
    padding: 8px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: #f47c7c;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;   
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #f47c7c;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: #f47c7c;
}


.navbar-scrolled {
    transition: all .5s;
    background-color: #07689f;
    padding: 4px;
    border-bottom: 1px solid #07496f;
}


#semester-files .modal-body .table-responsive {
    max-height: 400px;
}
/* Edit Bootstrap elements End */






/* Cover page start */

section.home-cover {
    background-image: url(../img/cover.jpg);
    background-size: cover;
    height: 100%;
    color: #fff;
    background-position: bottom center;
}
section.home-cover .overlay {
    background: rgba(7, 104, 159, .4);
    position: absolute;
    width: 100%;
    height: 100%;
}
section.home-cover .cover-description {
    position: absolute;
    top: 20%;
    padding: 20px 30px;
    margin-left: 3%;

}

#semester-files .modal-header {
    background: #07689f;
}

#semester-files .modal-header .modal-title{
    color: #fff;
    text-align: center;
}
#semester-files .modal-header .close{
    color: #d43f3a;
    opacity: .8;
    text-shadow: 0 1px 0 #d43f3a;
 }
 
#semester-files .modal-header .close:hover {
    opacity: 1;
 }
section.home-cover .cover-description h1 {
    color: #f47c7c;
}

section.home-cover .cover-description p {
    color: #eaeaea;
    width: 60%;
}
/* Cover page end */

/* Documents section Start */
section.documents {
    background-color: #f7f7f7;
    padding: 10px;
}

section .section-body {
    margin-bottom: 60px;

}


section .section-title {
    margin-bottom: 50px;
    margin-top: 30px;
}


section .section-title h2 {
    color: #07689f;
}

section .section-title hr {
    border: 1px solid #f47c7c;
    width: 80px;
    margin-top: 3px;    
}

section.documents .section-body .row{
    margin: 0px;
}

section.documents .section-body .container-documents {
    /* background: red; */
}

section.documents .section-body .container-documents .document-card {
    padding: 20px;
    position: relative;    
}

section.documents .section-body .container-documents .document-card div{
    width: 80%;
    padding: 13px;
    margin: auto;
    background: #07496f;
    border: 1px solid #4b626f;
    color: #fff;
    font-weight: bold;
    border-radius: 7px 30px 0 0px;
}
section.documents .section-body .container-documents .document-card div h4 {
    margin: 4px;
}

section.documents .section-body .container-documents .document-card ul {
    padding: 20px 10px;
    width: 80%;
    margin: auto;
    margin-top: 7px;
    box-shadow: 0 2px 4px 0 rgba(184,184,184,.5);
    background: #fff;
    border-radius: 0 0 7px 7px;
}
section.documents .section-body .container-documents .document-card ul li button {
    padding: 10px;
    width: 100%;
    background: inherit;
    text-align: left;
    border: none;
}
section.documents .section-body .container-documents .document-card ul li button:hover  {
    border-left: 2px solid #f47c7c;
    transition: transform .3s ease-in-out;
    transform: translateX(5px);

}
section.documents .section-body .container-documents .document-card ul li button:focus {
    outline: none;
}

/* section.documents .section-body .container-documents {
    padding: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(184,184,184,.5);
    margin-bottom: 20px;
} */



/* Documents section end */

/* Why Tresor section start */

section.why-tresor .section-body p {
    color: #566973;
    font-size: 18px;
}

/* Why Tresor section End */

/* Modules Tables Start */

#semester-files .modal-body table tbody tr:hover {
    cursor: pointer;
}
/* Modules Tables End */


/* Responsive design start */

@media (max-width: 768px) {
    section.home-cover .cover-description p {
        width: 98%;
    }
    section.home-cover .cover-description {
        top: 35%;
    }
    .navbar-nav .open .dropdown-menu {
    
        background-color: #fff;
    }
    .navbar-default .navbar-collapse {
        background: #fff;
    }
    .navbar-default .navbar-nav>li>a {
        color: #000000;
    }


        
    #semester-files .modal-body .table-responsive {
        max-height: 350px;
        overflow-y: scroll;
    }
}


@media (min-width: 768px) {
    section.documents .section-body .container-documents {
        min-height: 292px;
    }
}

/* Responsive design end */