body, html{
    height: 100%;
}

/* Edit Bootstrap elements Start */
.navbar-default {
    transition: all .5s;
    background-color: transparent;
    border: none;
    padding: 8px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: #f47c7c;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;   
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #f47c7c;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: #f47c7c;
}


.navbar-scrolled {
    transition: all .5s;
    background-color: #07689f;
    padding: 4px;
    border-bottom: 1px solid #07496f;
}
/* Edit Bootstrap elements End */






/* Cover page start */

section.home-cover {
    background-image: url(../img/cover.jpg);
    background-size: cover;
    height: 100%;
    color: #fff;
    background-position: bottom center;
}
section.home-cover .overlay {
    background: rgba(7, 104, 159, .4);
    position: absolute;
    width: 100%;
    height: 100%;
}
section.home-cover .cover-description {
    position: absolute;
    top: 20%;
    padding: 20px 30px;
    margin-left: 3%;

}


section.home-cover .cover-description h1 {
    color: #f47c7c;
}

section.home-cover .cover-description p {
    color: #eaeaea;
    width: 60%;
}
/* Cover page end */

/* Documents section Start */
section.documents {
    background-color: #f7f7f7;
    padding: 10px;
}

section .section-body {
    margin-bottom: 60px;

}


section .section-title {
    margin-bottom: 50px;
    margin-top: 30px;
}


section .section-title h2 {
    color: #07689f;
}

section .section-title hr {
    border: 1px solid #f47c7c;
    width: 80px;
    margin-top: 3px;    
}

section.documents .section-body .row{
    margin: 0px;
}

section.documents .section-body .degree-documents {
    padding: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(184,184,184,.5);
    margin-bottom: 20px;
}
section.documents .section-body h3{
    color: #f47c7c;
    margin: 10px auto 20px;
}

section.documents .section-body .document-card {
    padding: 20px;
    margin: 0 auto 10px;
    width: 130px;
    border: 1px solid #a2d5f2;
    border-radius: 10px;

}
section.documents .section-body .document-card:hover {
    box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16), 0 4px 8px 0 rgba(17, 22, 26, 0.08), 0 8px 16px 0 rgba(17, 22, 26, 0.08);
    cursor: pointer;

}


/* Documents section end */

/* Why Tresor section start */

section.why-tresor .section-body p {
    color: #566973;
    font-size: 18px;
}

/* Why Tresor section End */


/* Responsive design start */

@media (max-width: 768px) {
    section.home-cover .cover-description p {
        width: 98%;
    }
    section.home-cover .cover-description {
        top: 35%;
    }
    .navbar-nav .open .dropdown-menu {
    
        background-color: #fff;
    }
    .navbar-default .navbar-collapse {
        background: #fff;
    }
    .navbar-default .navbar-nav>li>a {
        color: #000000;
    }
}


@media (min-width: 768px) {
    section.documents .section-body .degree-documents {
        min-height: 292px;
    }
}

/* Responsive design end */